<div class="content">

  <div class="row">
    <div class="col-md-4">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <% if user_signed_in? %>
            <h5 class="card-title">Your Account</h5>
            <p class="card-text"><%= link_to current_user.username, user_path(current_user.username) %></p>
          <% else %>
            <p class="card-text"><%= link_to "Sign up now!", signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-8">

    <% if user_signed_in? %>
      <%= link_to 'New Tweet', new_tweet_path %>
    <% end %>

      <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <%= link_to tweet, class: "list-group-item list-group-item-action flex-column align-items-start" do %>
            <h5 class="mb-1"><%= tweet.user.username %></h5>
            <p class="mb-1"><%= tweet.content %></p>
          <% end %>
        <% end %>
      </ul>

    </div>
  </div>
</div>
