<div class="content">

  <div class="row">
    <div class="col-md-4">
    <% if user_signed_in? %>
      <div class="card" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= @user.username %></h5>
            <p class="card-text"><%= @user.name %></p>
            <% if user_signed_in? %>
              <% if current_user.following?(@user) %>
                <p class="card-text"><%= link_to "Unfollow", unfollow_user_path(@user.username), method: :delete %></p>
              <% else %>
                <p class="card-text"><%= link_to "Follow", follow_user_path(@user.username), method: :post %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <%= link_to tweet, class: "list-group-item list-group-item-action flex-column align-items-start" do %>
            <h5 class="mb-1"><%= tweet.user.username %></h5>
            <p class="mb-1"><%= tweet.content %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>