<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "user@example.com" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.label :remember_me, class: "form-check-label" do %>
      <%= f.check_box :remember_me, class: "form-check-input" %> Remember Me
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
   </div>

<% end %>
