// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap_customizations";
@import "bootstrap";

@import "pages";
@import "signin_and_signup";

.content {
    padding-top: 1em;
    max-width: 1140px;
    margin: 0 auto;
}
